.App {
  text-align: center;
}
.From {
  margin: 2rem;
}
.TextField {
  width: 400px;
}
.btn {
  margin-left: 10px;
  width: 10vh;
  height: 6vh;
  background: rgb(0, 102, 255);
  color: #fff;
  border-radius: 8px;
}
.btn:hover {
  background: rgb(0, 102, 255);
  color: #fff;
  border: 1px solid #000;
}
@media (max-width:560px) {
  .TextField {
    width: 250px;
  }
}
@media (max-width:420px) {
  .From {
    margin: 5px auto;
  }
  .TextField {
    width: 90%;
  }
  .btn {
    margin: 10px;
  }
}